# HTTPS certificate
[[tls]]
  entryPoints = ["https", "grunt"]
  [tls.certificate]
    certFile = "/certs/example.local+3.pem"
    keyFile = "/certs/example.local+3-key.pem"

[[tls]]
  entryPoints = ["https", "grunt"]
  [tls.certificate]
    certFile = "/certs/example-2.local+3.pem"
    keyFile = "/certs/example-2.local+3-key.pem"